In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
dataset = [['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
            ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
            ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
            ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]
dataset

[['Milk', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Banana', 'Onion', 'Apple', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Ice cream', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Apple', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
 2   2       5 non-null      object
 3   3       5 non-null      object
 4   4       4 non-null      object
 5   5       3 non-null      object
dtypes: object(6)
memory usage: 372.0+ bytes

In [11]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple  Banana   Corn   Eggs  Ice cream  Kidney Beans   Milk  Onion  Yogurt
0   True   False  False   True      False          True   True   True    True
1   True    True  False   True      False          True  False   True    True
2   True   False  False   True      False          True   True  False   False
3  False   False   True  False       True          True   True  False    True
4   True   False   True   True       True          True  False   True   False

In [ ]:
#độ hỗ trợ là số liệu chỉ ra các giao dịch và sản phẩm hoặc sản phẩm được mua cùng nhau(trong 1 giao dịch duy nhất)
frequire = apriori(df, min_support= 0.6,use_colnames=True)
frequire

    support                            itemsets
0       0.8                             (Apple)
1       0.8                              (Eggs)
2       1.0                      (Kidney Beans)
3       0.6                              (Milk)
4       0.6                             (Onion)
5       0.6                            (Yogurt)
6       0.8                       (Apple, Eggs)
7       0.8               (Apple, Kidney Beans)
8       0.6                      (Apple, Onion)
9       0.8                (Kidney Beans, Eggs)
10      0.6                       (Eggs, Onion)
11      0.6                (Kidney Beans, Milk)
12      0.6               (Kidney Beans, Onion)
13      0.6              (Yogurt, Kidney Beans)
14      0.8         (Apple, Eggs, Kidney Beans)
15      0.6                (Apple, Eggs, Onion)
16      0.6        (Apple, Kidney Beans, Onion)
17      0.6         (Kidney Beans, Eggs, Onion)
18      0.6  (Apple, Eggs, Kidney Beans, Onion)

In [29]:
rules = association_rules(frequire,metric='confidence',min_threshold=0.85)
rules.head(10)

d:\learn_PyThon\.venv\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
1,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
2,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.80,0.0,0.900
3,(Onion),(Apple),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
4,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.80,0.0,0.900
5,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
6,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,1.0,0.00,inf,0.0,0.60,0.0,0.800
7,(Onion),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,1.0,0.00,inf,0.0,0.60,0.0,0.800
8,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,1.0,0.00,inf,0.0,0.60,0.0,0.800
9,"(Apple, Eggs)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.80,0.0,0.900

In [17]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [18]:
frequire_growth = fpgrowth(df, min_support=0.6, use_colnames=True)
frequire_growth

    support                            itemsets
0       1.0                      (Kidney Beans)
1       0.8                              (Eggs)
2       0.8                             (Apple)
3       0.6                            (Yogurt)
4       0.6                             (Onion)
5       0.6                              (Milk)
6       0.8                (Kidney Beans, Eggs)
7       0.8                       (Apple, Eggs)
8       0.8               (Apple, Kidney Beans)
9       0.8         (Apple, Eggs, Kidney Beans)
10      0.6              (Yogurt, Kidney Beans)
11      0.6                      (Apple, Onion)
12      0.6                       (Eggs, Onion)
13      0.6               (Kidney Beans, Onion)
14      0.6                (Apple, Eggs, Onion)
15      0.6        (Apple, Kidney Beans, Onion)
16      0.6         (Kidney Beans, Eggs, Onion)
17      0.6  (Apple, Eggs, Kidney Beans, Onion)
18      0.6                (Kidney Beans, Milk)

In [28]:
rules_growth = association_rules(frequire_growth, metric='confidence', min_threshold=0.85)    
rules_growth.head(5)

d:\learn_PyThon\.venv\Lib\site-packages\mlxtend\frequent_patterns\association_rules.py:186: RuntimeWarning: invalid value encountered in divide
  cert_metric = np.where(certainty_denom == 0, 0, certainty_num / certainty_denom)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.8,0.0,0.9
1,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.0,1.0,1.0
2,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.0,1.0,1.0
3,(Apple),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.8,0.0,0.9
4,"(Apple, Eggs)",(Kidney Beans),0.8,1.0,0.8,1.0,1.00,1.0,0.00,inf,0.0,0.8,0.0,0.9

In [26]:
rules_growth[(rules_growth['lift'] > 1) & 
      (rules_growth['confidence'] >= 0.7)].sort_values(['confidence'], ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1,(Apple),(Eggs),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
2,(Eggs),(Apple),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
5,"(Apple, Kidney Beans)",(Eggs),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
6,"(Kidney Beans, Eggs)",(Apple),0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
7,(Apple),"(Kidney Beans, Eggs)",0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
8,(Eggs),"(Apple, Kidney Beans)",0.8,0.8,0.8,1.0,1.25,1.0,0.16,inf,1.0,1.00,1.0,1.000
10,(Onion),(Apple),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
11,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
13,"(Apple, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
14,"(Eggs, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
15,(Onion),"(Apple, Eggs)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
17,"(Kidney Beans, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
18,(Onion),"(Apple, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
19,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
21,(Onion),"(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
23,"(Apple, Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
24,"(Kidney Beans, Eggs, Onion)",(Apple),0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
25,"(Apple, Onion)","(Kidney Beans, Eggs)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
26,"(Eggs, Onion)","(Apple, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
27,"(Kidney Beans, Onion)","(Apple, Eggs)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875
28,(Onion),"(Apple, Eggs, Kidney Beans)",0.6,0.8,0.6,1.0,1.25,1.0,0.12,inf,0.5,0.75,1.0,0.875