In [1]:
import pandas as pd
import sklearn
from sklearn.preprocessing import MultiLabelBinarizer

In [3]:
df = pd.read_csv('C:\\Users\\Minh Chi\\Downloads\\boDuLieu\\lab 4-5\\ThiTHPT2018.csv')
# df

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_2132\337312672.py:1: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\Minh Chi\\Downloads\\boDuLieu\\lab 4-5\\ThiTHPT2018.csv')

In [4]:
adv_math = df["Toan"].mean()
df["Toan"].fillna(adv_math, inplace=True)   # thay đổi thẳng trên df
print(df["Toan"].isnull().sum())

0

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_2132\639322316.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Toan"].fillna(adv_math, inplace=True)   # thay đổi thẳng trên df

In [10]:
us_Van = df['Van'].mode()[0];
df['Van'].fillna(us_Van, inplace=True)
print(df['Van'].isna().sum())

0

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_28256\1058186430.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Van'].fillna(us_Van, inplace=True)

In [ ]:
#Anh văn thay thế bằng giá trị thường xuyên theo trường tên tỉnh.
df['mode_Anh'] = df.groupby('Ten Tinh')['Anh'].transform(
    lambda x: x.mode().iat[0]
    if not x.mode().empty
    else None
    )

# transform: Thực hiện phép biến đổi trả về đúng kích thước như cột gốc, nghĩa là với mỗi hàng ban đầu, mình sẽ sinh ra một giá trị kết quả tương ứng.
#  lambda x.. :  Một hàm ẩn danh (anonymous function), nhận vào x là Series chứa tất cả các giá trị “Anh” của một tỉnh.

# if not x.mode().empty else None
# Kiểm tra xem x.mode() có trả về rỗng không (trường hợp nhóm đó toàn NaN, không có giá trị nào để tính mode).
# Nếu không rỗng, tiếp tục lấy giá trị đầu tiên của mode.
# Nếu rỗng, trả về None (hoặc bạn có thể thay là một số mặc định khác).
df['Anh'].fillna(df['mode_Anh'], inplace= True)
df['Anh']

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_11740\3160079279.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Anh'].fillna(df['mode_Anh'], inplace= True)

18        5.000000
170       2.600000
178       3.200000
189       3.200000
194       2.800000
            ...
743440    3.933543
743504    3.933543
743513    3.933543
743516    3.933543
743586    3.933543
Name: Anh, Length: 33869, dtype: float64

In [ ]:
# loại bỏ các cột định danh
# id_col = ['SoBD', 'Ma Tinh', 'Ten Tinh', 'Vung mien']

# Cách 1: dựa vào kiểu dữ liệu
# subject_cols = df.select_dtypes(include=['float64'])
# Cách 2: dựa vào pattern tên cột (ví dụ chứa "Diem" hoặc tên các môn)
subject_cols = [c for c in df.columns if c.startswith(('Toan','Van','Anh', 'Ly', 'Hoa', 'Sinh', 'Su', 'Dia', 'GDCD'))]

# Chuyển toàn bộ NaN trong các cột môn thành chuỗi "Khong thi"
df[subject_cols] = df[subject_cols].fillna('Khong Thi')
df[subject_cols]

,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD
0,3.0,3.75,3.0,Khong Thi,Khong Thi,Khong Thi,3.0,6.5,8.25
1,8.8,7.5,9.0,Khong Thi,Khong Thi,Khong Thi,6.0,9.0,8.25
2,6.0,5.5,4.0,5.75,5.5,5.0,Khong Thi,Khong Thi,Khong Thi
3,3.4,5.75,2.6,Khong Thi,Khong Thi,Khong Thi,3.5,4.75,7.25
4,3.8,6.75,3.0,Khong Thi,Khong Thi,Khong Thi,3.5,6.25,8.0
...,...,...,...,...,...,...,...,...,...
744391,4.6,4.5,6.0,3.75,3.0,3.25,Khong Thi,Khong Thi,Khong Thi
744392,7.0,6.0,5.0,5.25,5.5,4.0,Khong Thi,Khong Thi,Khong Thi
744393,5.2,3.5,4.0,6.25,5.5,2.25,Khong Thi,Khong Thi,Khong Thi
744394,7.8,4.5,5.4,7.5,6.25,3.0,Khong Thi,Khong Thi,Khong Thi
744395,5.8,3.5,3.0,6.25,4.75,3.25,Khong Thi,Khong Thi,Khong Thi

In [ ]:

# để liệt kê những cột có giá trị thiếu >= 50% thì đầu tiên
# cần # 1. Tính tỉ lệ NaN cho mỗi cột
giaTriNull = df.isnull().mean();
# Lọc ra những cột có tỉ lệ NaN >= 50%
cols_over50 = giaTriNull[giaTriNull >= 0.5].index.to_list() # mục đích của index.to_list là Lấy tên các cột (index của Series) mà điều kiện đúng, chuyển thành list.
# df.drop(cols_over50, inplace = True)
cols_over50

['Ly', 'Hoa', 'Sinh', 'Unnamed: 10', 'KhoiA', 'KhoiB', 'KhoiA1']

In [38]:
#  dùng hàm is_numeric_dtype trong module pandas.api.types để kiểm tra kiểu dữ liệu của cột:
giaTriThieu = df.isnull().mean();
#liet ke nhung gia tri thieu <= 20
cols_min_20 = giaTriThieu[giaTriThieu < 0.2].index.to_list()
# cols_min_20
for col in cols_min_20:
    if pd.api.types.is_numeric_dtype(df[col]): # dùng hàm is_numeric_dtype trong module pandas.api.types để kiểm tra kiểu dữ liệu của cột:
        # a) Numeric → dùng mean
        mean_val = df[col].mean()
        df[col].fillna(mean_val, inplace = True)
    else: 
        # b) Non-numeric → dùng mode (giá trị phổ biến nhất)
        modes = df[col].mode()
        if not modes.empty:
            df[col].fillna(modes.iat[0], inplace = True)
        else: 
            df[col].fillna("unknow", inplace = True)

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_11740\3577249424.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mean_val, inplace = True)
C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_11740\3577249424.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(modes.iat[0], inplace = True)

In [39]:
from scipy.stats import zscore

df.dropna(subset=['Hoa','Ly', 'Dia'], inplace=True)

# Chuẩn hóa z-score cho các môn: Hóa, lý, Địa
df_zscore = df[['Hoa', 'Ly', 'Dia']]
z_Scoreee = zscore(df_zscore)
z_Scoreee
df.to_csv('TotnghiepOK.csv')
#  NHÌN VÀO KẾT QUẢ TA HIỂU  (33869, 3) TỨC 
# Có 33.869 hàng – mỗi hàng tương ứng với một học sinh (sau khi bạn đã loại bỏ những hàng thiếu điểm ở Hoa, Lý, Địa).
# Có 3 cột, lần lượt là z-score của ba môn Hóa, Lý, Địa.

# Học sinh này có điểm Hóa cao hơn 0.7126 độ lệch chuẩn so với trung bình cộng của lớp.
# Điểm Lý cao hơn 2.0843 độ lệch chuẩn so với trung bình.
# Điểm Địa cao hơn 2.1609 độ lệch chuẩn so với trung bình.
# Tương tự, giá trị âm (ví dụ -0.3197) nghĩa là học sinh đó thấp hơn trung bình 0.3197 độ lệch chuẩn.