In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('TotnghiepOK.csv');
df

C:\Users\Minh Chi\AppData\Local\Temp\ipykernel_16432\980758278.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('TotnghiepOK.csv');

,Unnamed: 0,SoBD,Toan,Van,Anh,Ly,Hoa,Sinh,Su,Dia,GDCD,Unnamed: 10,KhoiA,KhoiB,KhoiC,KhoiD,KhoiA1,Ma Tinh,Ten Tinh,Vung mien
0,18,19,6.6,7.50,5.000000,6.25,4.25,4.25,5.25,7.75,9.00,NaN,17.10,15.10,20.50,19.1,17.85,18,Bac Giang,Mien Bac
1,170,171,4.6,4.00,2.600000,2.25,3.00,2.25,2.75,4.50,5.75,NaN,9.85,9.85,11.25,11.2,9.45,18,Bac Giang,Mien Bac
2,178,179,5.0,5.25,3.200000,5.75,4.25,4.75,4.25,5.50,7.50,NaN,15.00,14.00,15.00,13.45,13.95,18,Bac Giang,Mien Bac
3,189,190,4.0,4.50,3.200000,2.75,4.25,5.50,3.00,5.25,6.25,NaN,11.00,13.75,12.75,11.7,9.95,18,Bac Giang,Mien Bac
4,194,195,3.8,5.75,2.800000,2.75,3.00,2.75,3.50,6.00,7.00,NaN,9.55,9.55,15.25,12.35,9.35,18,Bac Giang,Mien Bac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33864,743440,743441,5.6,2.75,3.933543,2.25,4.50,2.75,3.75,5.75,NaN,NaN,12.35,12.85,12.25,14.2,NaN,52,Ba Ria Vung Tau,Mien Nam
33865,743504,743505,3.8,5.50,3.933543,2.25,5.00,4.25,3.50,4.25,NaN,NaN,11.05,13.05,13.25,14.2,NaN,52,Ba Ria Vung Tau,Mien Nam
33866,743513,743514,5.6,3.50,3.933543,2.50,3.75,4.25,5.00,6.75,NaN,NaN,11.85,13.60,15.25,14.2,NaN,52,Ba Ria Vung Tau,Mien Nam
33867,743516,743517,3.8,3.00,3.933543,2.50,2.00,2.25,2.50,4.25,NaN,NaN,8.30,8.05,9.75,14.2,NaN,52,Ba Ria Vung Tau,Mien Nam
33868,743586,743587,1.6,4.00,3.933543,2.50,1.50,4.50,4.50,4.75,NaN,NaN,5.60,7.60,13.25,14.2,NaN,52,Ba Ria Vung Tau,Mien Nam

In [5]:
cut_lable = ['Yeu', 'Trung binh', 'Kha', 'Gioi']
cut_bin = [0, 4, 6.5, 7, 10]
df['col_Math'] = pd.cut(df['Toan'], bins=cut_bin, labels=cut_lable,  include_lowest=True )  # bao gá»“m 0 vÃ o nhÃ£n Ä‘áº§u)
df['col_Math']

0               Kha
1        Trung binh
2        Trung binh
3               Yeu
4               Yeu
            ...
33864    Trung binh
33865           Yeu
33866    Trung binh
33867           Yeu
33868           Yeu
Name: col_Math, Length: 33869, dtype: category
Categories (4, object): ['Yeu' < 'Trung binh' < 'Kha' < 'Gioi']

In [6]:
cut_lable = ['Trung binh', 'Kha', 'Gioi']
cut_bin = [0, 6.5, 8, 10]
df['col_Eng'] = pd.cut(df['Anh'], bins = cut_bin, labels= cut_lable)
df['col_Eng']

0        Trung binh
1        Trung binh
2        Trung binh
3        Trung binh
4        Trung binh
            ...
33864    Trung binh
33865    Trung binh
33866    Trung binh
33867    Trung binh
33868    Trung binh
Name: col_Eng, Length: 33869, dtype: category
Categories (3, object): ['Trung binh' < 'Kha' < 'Gioi']