In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('C:\\Users\\Minh Chi\\Downloads\\boDuLieu\\lab 4-5\\105.csv')
df

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
0,9.0,9.0,7.0,9.0,8.0,10.0,NaN,9.0,7.0,10.0,...,8.0,9.0,8.0,7.0,NaN,9.0,7.0,10.0,8.0,NaN
1,6.0,8.0,6.0,7.0,8.0,5.0,NaN,8.0,5.0,7.0,...,6.0,8.0,6.0,6.0,NaN,9.0,7.0,5.0,5.0,NaN
2,7.0,8.0,7.0,5.0,7.0,5.0,NaN,7.0,7.0,10.0,...,8.0,5.0,8.0,6.0,NaN,8.0,8.0,10.0,5.0,NaN
3,5.0,6.0,5.0,7.0,3.0,5.0,NaN,5.0,5.0,7.0,...,6.0,5.0,6.0,5.0,NaN,3.0,5.0,6.0,5.0,NaN
4,5.0,8.0,5.0,7.0,6.0,6.0,NaN,6.0,6.0,5.0,...,5.0,5.0,8.0,5.0,NaN,6.0,7.0,6.0,6.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NaN,6.0,6.0,7.0,6.0,8.0,6.0,8.0,7.0,5.0,...,6.0,8.0,5.0,6.0,6.0,7.0,6.0,5.0,5.0,5.0
95,NaN,5.0,7.0,6.0,8.0,7.0,7.0,7.0,7.0,5.0,...,9.0,5.0,5.0,7.0,5.0,6.0,6.0,5.0,9.0,7.0
96,NaN,7.0,7.0,8.0,8.0,9.0,8.0,8.0,8.0,9.0,...,9.0,9.0,8.0,8.0,8.0,9.0,9.0,9.0,10.0,7.0
97,NaN,7.0,5.0,5.0,6.0,9.0,6.0,6.0,8.0,6.0,...,7.0,5.0,6.0,6.0,5.0,7.0,5.0,7.0,6.0,9.0
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0

In [3]:
df.describe()

,Access,CT du lieu,CT may tinh,CNXHKH,Chuyen de,CS du lieu,Cong nghe NET,CNphan mem,Dai so so hoc,DS tuyen tinh,...,Toan roi rac,Tri tue nhan tao,Triet hoc 1,Triet hoc 2,TT Ho Chi Minh,VL Dai cuong 1,VL Dai cuong 2,Visual Basic,Xac suat,Unnamed: 55
count,52.000000,98.000000,98.000000,98.000000,98.000000,98.000000,46.000000,98.000000,98.000000,98.000000,...,98.000000,98.000000,98.000000,98.000000,46.000000,98.000000,98.000000,98.000000,98.000000,15.000000
mean,5.961538,7.428571,6.010204,6.244898,6.683673,6.387755,7.804348,6.244898,6.387755,6.795918,...,6.540816,6.479592,6.510204,5.989796,6.000000,6.397959,6.336735,6.724490,6.316327,6.666667
std,1.251846,0.973886,1.230999,1.227362,1.684355,1.396850,1.240422,1.385203,1.351842,1.572700,...,1.486492,1.333390,1.132872,1.188388,0.894427,1.590823,1.234753,1.571529,1.273010,1.718249
min,5.000000,5.000000,0.000000,5.000000,0.000000,5.000000,5.000000,1.000000,5.000000,4.000000,...,4.000000,3.000000,5.000000,0.000000,5.000000,2.000000,5.000000,5.000000,5.000000,5.000000
25%,5.000000,7.000000,5.000000,5.000000,6.000000,5.000000,7.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,6.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
50%,5.000000,8.000000,6.000000,6.000000,7.000000,6.000000,8.000000,6.000000,6.000000,7.000000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.500000,6.000000,7.000000
75%,7.000000,8.000000,7.000000,7.000000,8.000000,7.000000,9.000000,7.000000,7.000000,8.000000,...,8.000000,7.000000,7.000000,7.000000,6.750000,8.000000,7.000000,8.000000,7.000000,7.500000
max,9.000000,9.000000,9.000000,9.000000,10.000000,10.000000,10.000000,9.000000,10.000000,10.000000,...,10.000000,10.000000,9.000000,8.000000,8.000000,9.000000,9.000000,10.000000,10.000000,10.000000

In [4]:
# 1. Lấy danh sách cột numeric
num_cols = df.select_dtypes(include='number').columns

# 2. Chuyển từng cột numeric đều về 0/1
df[num_cols] = (df[num_cols] >= 6).astype(int)

# 3. Ghi ra file
df.to_csv('105moi.csv', index=False)

In [ ]:
# 2. Xác định các cột điểm (chỉ các cột numeric)
score_cols = df.select_dtypes(include='number').columns.tolist()
#df.select_dtypes(include='number') : Hàm này trả về một DataFrame con chỉ gồm các cột có kiểu số (int, float…) từ df.
#.columns: Trên DataFrame kết quả ở bước 1, .columns lấy ra Index (đối tượng giống như list) chứa tên các cột, ví dụ Index(['A','C'], dtype='object').
#.tolist(): Chuyển đối tượng Index đó thành list Python thực thụ, tức ['A','C'].

# 3. Chuyển mỗi ô thành True nếu có điểm (không phải NaN), False nếu thiếu điểm
df[score_cols] = df[score_cols].notna()
#với notna thi .notna() trả về True cho ô không phải NaN (có điểm), False cho ô NaN (không có điểm).
# 4. Lưu kết quả ra file mới
df.to_csv('105OK.csv', index=False)

print("Đã tạo file 105OK.csv")

Đã tạo file 105OK.csv